.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 40px;
}

.number-box {
  background-color: white;
  height: 400px;
  box-shadow: 10px 10px 5px gray;
}

.box-header {
  display: flex;
}

.box-image img {
  margin: 10px;
  width: 180px;
  height: 200px;
}

.box-number {
  font-size: 80px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.box-text {
  padding: 20px;
}

@media (max-width: 750px) {
  .main {
    grid-template-columns: 1fr;
  }

  .box-image img {
    width: 100px;
  }
}

@media (min-width: 751px) and (max-width: 1000px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1001px) and (max-width: 1300px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

